aiomysql==0.1.1
aioredis==2.0.1
aiosqlite==0.17.0
altgraph==0.17.3
anyio==3.6.1
asgiref==3.5.2
async-timeout==4.0.2
attrs==23.1.0
Automat==22.10.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
cli-helpers==2.2.0
click==8.0.3
configobj==5.0.6
constantly==15.1.0
cos-python-sdk-v5==1.9.15
crcmod==1.7
cryptography==40.0.2
cssselect==1.2.0
dicttoxml==1.7.4
dnspython==2.2.1
docutils==0.20.1
email-validator==1.2.1
exceptiongroup==1.1.1
fastapi==0.103.2
ffpyplayer==4.3.2
filelock==3.12.0
greenlet==1.1.3
h11==0.13.0
httptools==0.4.0
hyperlink==21.0.0
idna==3.4
importlib-resources==5.4.0
incremental==22.10.0
iso8601==1.0.2
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
Kivy==2.0.0
Kivy-Garden==0.1.5
lxml==4.9.2
macholib==1.16.2
MarkupSafe==2.1.1
modulegraph==0.19.3
mycli==1.24.1
optionaldict==0.1.2
orjson==3.8.0
outcome==1.3.0.post0
packaging==23.1
parsel==1.8.1
passlib==1.7.4
Pillow==9.2.0
prompt-toolkit==3.0.24
Protego==0.2.1
py2app==0.28.5
pyaes==1.6.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pycrypto==2.6.1
pycryptodomex==3.9.4
pydantic==1.10.9
PyDispatcher==2.0.7
Pygments==2.10.0
pyinstaller==5.10.1
pyinstaller-hooks-contrib==2023.2
PyJWT==2.3.0
PyMySQL==1.0.2
pyOpenSSL==23.1.1
pyperclip==1.8.2
pypika-tortoise==0.1.6
PySocks==1.7.1
python-alipay-sdk==3.0.4
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.5
pytz==2022.2.1
PyYAML==6.0
qcloud-python-sts==3.1.1
qrcode==7.3.1
queuelib==1.6.2
requests==2.27.1
requests-file==1.5.1
requests-pkcs12==1.12
Scrapy==2.9.0
selenium==4.14.0
service-identity==21.1.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.40
sqlalchemy2-stubs==0.0.2a26
sqlmodel==0.0.6
sqlparse==0.3.1
starlette==0.27.0
tabulate==0.8.9
tencentcloud-sdk-python==3.0.618
tldextract==3.4.1
tortoise-orm==0.19.0
trio==0.22.2
trio-websocket==0.11.1
Twisted==22.10.0
typing_extensions==4.6.3
ujson==5.4.0
undetected-chromedriver==3.5.3
urllib3==1.26.8
uvicorn==0.23.2
uvloop==0.16.0
w3lib==2.1.1
watchgod==0.8.2
wcwidth==0.2.5
websockets==10.3
wechatpy==2.0.0a11
wsproto==1.2.0
xmltodict==0.13.0
zipp==3.6.0
zope.interface==6.0
